<section class="grid-container usa-section">
  <div class="grid-row grid-gap">
    <div class="grid-col-12">
      <h1>Lunch Time!</h1>
    </div>
  </div>
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-5">
      <h2>Tacos!</h2>
      <p>The best taco place is: <%= link_to @tacos[:name], @tacos[:url], target: "_blank" %></p>
      <%= image_tag @tacos[:image_url] %>
      <p><%= yelp_address(@tacos[:location]).join("<br>").html_safe %></p>
      <p><%= @tacos[:display_phone] %></p>
    </div>
    <div class="tablet:grid-col-7">
      <h2>API Call details</h2>
      <h3>Center details from ECLKC</h3>
      <% if @error %>
        <pre><%= JSON.pretty_generate @api.response_json %></pre>
      <% else %>
        <pre><%= JSON.pretty_generate @center %></pre>
      <% end %>
      <h3>Taco details from Yelp</h3>
      <pre><%= JSON.pretty_generate @tacos %></pre>
    </div>
  </div>
</section>
